.board {
    border: 1px solid;
    height: 240px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
}

.board div {
    height: 40px;
    width: 40px;
}

.player-one {
    background-color: red;
    /* its gonna paint the square red but with the border radius o 10px is gonna look like a circle */
    border-radius: 50%;
}

.player-two {
    background-color: blue;
    border-radius: 50%;
}
